//main.scss 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 600;
}
.home-div {
    display: flex;
    flex-direction: column;
  }
// Search.scss

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    padding: 4rem 0;
    width: 100%;
    background-color: whitesmoke;
  }
  
  .search-label {
    margin-right: 10px;
  }
  
  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
  }




//list
.container {
    .book-listing {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      
      .book-info {
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: calc(33.33% - 40px); // Adjust the width as needed for responsiveness
        max-width: 300px; // Set a max-width for larger screens
        margin-bottom: 2rem;
        
        h2 {
          font-size: 18px;
          margin-bottom: 10px;
        }
  
        p {
          margin-bottom: 10px;
          
          strong {
            font-weight: bold;
          }
        }
  
        .amazon-button {
          background-color: #ff9900;
          color: #fff;
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #e68a00;
          }
  
          &:first-of-type {
            margin-right: 10px;
          }
        }

        .detail-button {
            background-color: whitesmoke(209, 203, 203);
            color: black;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
    
            &:hover {
              background-color: grey;
            }
    
            &:first-of-type {
              margin-right: 10px;
            }
          }
      }
    }
  }
  
  
// Book detail
.book-detail {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-detail h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .book-detail p {
    margin-bottom: 8px;
  }
  
  .book-detail strong {
    font-weight: bold;
  }
  
  .book-detail__title {
    margin-top: 0;
  }
  
  .book-detail__description {
    font-style: italic;
  }
  
  .book-detail__subjects,
  .book-detail__subject-places,
  .book-detail__subject-people,
  .book-detail__subject-times,
  .book-detail__author,
  .book-detail__covers,
  .book-detail__latest-revision,
  .book-detail__revision,
  .book-detail__created,
  .book-detail__last-modified {
    font-size: 14px;
  }
  